// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

div.navrow{
  padding-bottom: $para;
  //border-bottom: dashed 1px black;
}

div.seperation-rule{
  border-bottom: dashed 1px black;
  margin-bottom: $para*2;
}

div.logo{
  clear: both;
  float: left;
  margin-left: -8.333333%;
  margin-bottom: -$para;
  text-align: right;
  padding-right: 12px;
  padding-top: 6px;
  display: none;
  @include respond-to($f-vp){
    display: block;
    position: fixed;
  }
}
span#outside{
  font-weight: bolder;
  font-size: 48px;
  //margin-left: $para;
  display: inline-block;
  text-align: right;
  //position: sticky;
  //top: 16px;
  //background-color: white;
  //height: 30px;
  //outline: 1px dashed black;
  @include respond-to($c-vp){
    display: inline-block;
    text-align: left;
  }
}

div.sticky{
  margin: 0 auto;
  overflow-y: hidden;
  z-index: 9999;
  background: transparent;
  top: -29px;
  position: fixed;
  margin-left: 40%;
}

header {
  margin-top: $para;
  &#hp-banner ul li {
    margin-right: 8px;
    height: 32px;
  }
  &#banner {
    width: 100%;
    text-transform: lowercase;
    padding-bottom: 16px;
    //border-bottom: 3px solid #333;
    h1 {
      font-family: 'belgika_8th8th';
      font-size: 42px;
      border-bottom: none;
      margin-top: 16px;
      //margin-bottom: -16px;
      float: left;
      width: 100%;
      //margin-bottom: 16px;
      @include respond-to($c-vp){
        font-size: 50px;
      }
    }
    span#opposite{
      font-weight: bolder;
      font-size: 44px;
      margin-left: $para;
      display: block;
      text-align: center;
      position: sticky;
      top: 0;
      //background-color: white;
      //height: 30px;
      //outline: 1px dashed black;
      @include respond-to($f-vp){
        display: inline-block;
        text-align: left;
        display: none;
      }
    }
    h2{
      font-size: 16px;
      color: $al-green;
    }
    ul {
      margin-bottom: 16px;
      border-bottom: 1px solid #777;
      li{
        font-family: 'belgika_8th8th';
      }
    }
  }
}

div#secondaryintro{
  button{
    background: none;
    margin-top: $para/2;
    padding: $para/2;
    font-family: monospace;
  }
  border-top: 1px dashed black;
  overflow: hidden;
  margin-top: $para;
  padding-top: $para;
  padding-bottom: $para;
  //border-top: dashed 1px black;
  //border-bottom: dashed 1px black;
  a {
    color: $al-green;
  }
  div.row{
    margin-bottom: $para;
    padding-left: 0;
    padding-right: 0;
  }
  small{
    font-family: monospace;
    color: grey;
    font-size: 10px;
  }
}
p.definition{
  font-family: monospace;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

/*! responsive-nav.js 1.0.39 by @viljamis */


p.short-about{
  display: none;
}

.nav-collapse {
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-family: 'belgika_8th8th';
  }
  @include respond-to($c-vp){
    li {
      width: 100%;
      display: inline;
    }
    li::after{
      content: " |";
    }
    li :last-of-type ::after{
      content: none;
    }
  }
  li :first-of-type :hover .short-about{
    display: block;
    transition: opacity 0.3s, visibility 0.3s;
  }

}



.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url("../fonts/hamburger.svg") no-repeat right top;
  position: relative;
  margin-top: 20px;
  float: right;
  width: 40px;
  height: 30px;
  padding: 15px;
}

div.list{
  display: block;
  position: relative;
  height: auto;
}

div.column-titles{
  display: none;
  font-family: 'belgika_16th16th';
  @include respond-to($c-vp){
    display: block;
    margin-top: $para;
    margin-bottom: $para;
  }
}

a.tag{
  font-size: 10px;
  font-family: monospace;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
    &.closed {
      max-height: none;
    }
  }
  .nav-toggle {
    display: none;
  }
}

footer#main-footer{
  clear: both;
  position: relative;
  font-family: monospace;
  color: grey;
  text-align: center;
  width: 100%;
  height: $para;
  padding-top: $para*2;
  margin-top: $para*4;
  margin-bottom: $para*4;
  border-top: 1px dashed black;
}
