*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

div.navrow {
  padding-bottom: 15px;
}

div.seperation-rule {
  border-bottom: dashed 1px black;
  margin-bottom: 30px;
}

div.logo {
  clear: both;
  float: left;
  margin-left: -8.333333%;
  margin-bottom: -15px;
  text-align: right;
  padding-right: 12px;
  padding-top: 6px;
  display: none;
}
.lt-ie9 div.logo {
  display: block;
  position: fixed;
}
@media screen and (min-width: 1300px) {
  div.logo {
    display: block;
    position: fixed;
  }
}

span#outside {
  font-weight: bolder;
  font-size: 48px;
  display: inline-block;
  text-align: right;
}
.lt-ie9 span#outside {
  display: inline-block;
  text-align: left;
}
@media screen and (min-width: 600px) {
  span#outside {
    display: inline-block;
    text-align: left;
  }
}

div.sticky {
  margin: 0 auto;
  overflow-y: hidden;
  z-index: 9999;
  background: transparent;
  top: -29px;
  position: fixed;
  margin-left: 40%;
}

header {
  margin-top: 15px;
}
header#hp-banner ul li {
  margin-right: 8px;
  height: 32px;
}
header#banner {
  width: 100%;
  text-transform: lowercase;
  padding-bottom: 16px;
}
header#banner h1 {
  font-family: 'belgika_8th8th';
  font-size: 42px;
  border-bottom: none;
  margin-top: 16px;
  float: left;
  width: 100%;
}
.lt-ie9 header#banner h1 {
  font-size: 50px;
}
@media screen and (min-width: 600px) {
  header#banner h1 {
    font-size: 50px;
  }
}
header#banner span#opposite {
  font-weight: bolder;
  font-size: 44px;
  margin-left: 15px;
  display: block;
  text-align: center;
  position: sticky;
  top: 0;
}
.lt-ie9 header#banner span#opposite {
  display: inline-block;
  text-align: left;
  display: none;
}
@media screen and (min-width: 1300px) {
  header#banner span#opposite {
    display: inline-block;
    text-align: left;
    display: none;
  }
}
header#banner h2 {
  font-size: 16px;
  color: #67b2b1;
}
header#banner ul {
  margin-bottom: 16px;
  border-bottom: 1px solid #777;
}
header#banner ul li {
  font-family: 'belgika_8th8th';
}

div#secondaryintro {
  border-top: 1px dashed black;
  overflow: hidden;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
div#secondaryintro button {
  background: none;
  margin-top: 7.5px;
  padding: 7.5px;
  font-family: monospace;
}
div#secondaryintro a {
  color: #67b2b1;
}
div#secondaryintro div.row {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
div#secondaryintro small {
  font-family: monospace;
  color: grey;
  font-size: 10px;
}

p.definition {
  font-family: monospace;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*! responsive-nav.js 1.0.39 by @viljamis */
p.short-about {
  display: none;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: 'belgika_8th8th';
}
.lt-ie9 .nav-collapse li {
  width: 100%;
  display: inline;
}
.lt-ie9 .nav-collapse li::after {
  content: " |";
}
.lt-ie9 .nav-collapse li :last-of-type ::after {
  content: none;
}
@media screen and (min-width: 600px) {
  .nav-collapse li {
    width: 100%;
    display: inline;
  }
  .nav-collapse li::after {
    content: " |";
  }
  .nav-collapse li :last-of-type ::after {
    content: none;
  }
}
.nav-collapse li :first-of-type :hover .short-about {
  display: block;
  transition: opacity 0.3s, visibility 0.3s;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url("../fonts/hamburger.svg") no-repeat right top;
  position: relative;
  margin-top: 20px;
  float: right;
  width: 40px;
  height: 30px;
  padding: 15px;
}

div.list {
  display: block;
  position: relative;
  height: auto;
}

div.column-titles {
  display: none;
  font-family: 'belgika_16th16th';
}
.lt-ie9 div.column-titles {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 600px) {
  div.column-titles {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

a.tag {
  font-size: 10px;
  font-family: monospace;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
footer#main-footer {
  clear: both;
  position: relative;
  font-family: monospace;
  color: grey;
  text-align: center;
  width: 100%;
  height: 15px;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 1px dashed black;
}

small {
  font-size: 70%;
  font-family: monospace;
  line-height: 70%;
}

section#content img {
  width: 100%;
  margin-bottom: 8px;
}
section#content p {
  font-size: 17px;
  padding-bottom: 30px;
}
.lt-ie9 section#content p {
  width: 60%;
}
@media screen and (min-width: 600px) {
  section#content p {
    width: 60%;
  }
}
section#content a {
  color: #67b2b1;
}
section#content sup {
  font-size: 12px;
  vertical-align: super;
  line-height: normal;
}
section#content iframe {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 400px;
}
.lt-ie9 section#content iframe {
  width: 140% !important;
  margin-left: -20%;
  height: 700px;
}
@media screen and (min-width: 1300px) {
  section#content iframe {
    width: 140% !important;
    margin-left: -20%;
    height: 700px;
  }
}
section#content h1 {
  font-size: 32px;
  font-family: "belgika_8th8th";
  margin-bottom: 7.5px;
}
section#content h2.entry-title, section#content h1.page-title {
  font-size: 16px;
  font-family: "hk_groteskregular";
  margin-bottom: 15px;
  margin-top: 60px;
  color: #67b2b1;
}
section#content h2 {
  font-size: 24px;
  font-family: "belgika_40th40th";
  margin-top: 16px !important;
}
section#content h3 {
  font-size: 20px;
  font-family: "belgika_8th8th";
}
section#content blockquote {
  width: 100%;
  padding-left: 30%;
  margin-bottom: 45px;
  font-family: "hk_groteskbold";
  font-size: 20px;
  float: right;
  clear: both;
}
section#content li.homepage-li {
  overflow: hidden;
  border-bottom: 1px dotted #67b2b1;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  height: auto;
}
.lt-ie9 section#content li.homepage-li {
  min-height: 42px;
  padding-bottom: 7.5px;
}
@media screen and (min-width: 600px) {
  section#content li.homepage-li {
    min-height: 42px;
    padding-bottom: 7.5px;
  }
}
section#content ul {
  width: 100%;
  float: left;
  margin-top: 7.5px;
}

ol.simple-footnotes {
  border-top: 1px dashed grey;
  padding-top: 15px;
  list-style-type: decimal;
}

div.highlight {
  background-color: lightgrey;
  padding: 15px;
}
div.highlight pre {
  font-family: monospace;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: #fff;
  color: #777;
  height: 100%;
  min-height: 100%;
}

a {
  color: #c64f24;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #67b2b1;
}

html {
  font-size: 100%;
  min-height: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}
body {
  background: #fff;
  color: #333;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.lt-ie9 body {
  padding: 8px;
}

@media screen and (min-width: 600px) {
  body {
    padding: 8px;
    height: 100%;
    min-height: 100%;
  }
}
a {
  color: #333;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #67b2b1;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'belgika_40th40th';
  src: url("../fonts/belgika-40th-webfont.woff2") format("woff2"), url("../fonts/belgika-40th-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'belgika_16th16th';
  src: url("../fonts/belgika-16th-webfont.woff2") format("woff2"), url("../fonts/belgika-16th-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'belgika_8th8th';
  src: url("../fonts/belgika-8th-webfont.woff2") format("woff2"), url("../fonts/belgika-8th-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskbold';
  src: url("../fonts/hkgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url("../fonts/hkgrotesk-bolditalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskitalic';
  src: url("../fonts/hkgrotesk-italic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight';
  src: url("../fonts/hkgrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight_italic';
  src: url("../fonts/hkgrotesk-lightitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium';
  src: url("../fonts/hkgrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium_italic';
  src: url("../fonts/hkgrotesk-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskregular';
  src: url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.font-body, body, body {
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul, ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  .row {
    width: 1300px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
/* slidy.css

   Copyright (c) 2005-2010 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
*/
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
  font-size: 14pt;
}

div.toolbar {
  position: fixed;
  z-index: 200;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.2em;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 60%;
  color: red;
  background-color: #f0f0f0;
  border-top: solid 1px #b4b4b4;
}

div.toolbar span.copyright {
  color: black;
  margin-left: 0.5em;
}

div.initial_prompt {
  position: absolute;
  z-index: 1000;
  bottom: 1.2em;
  width: 100%;
  background-color: #c8c8c8;
  opacity: 0.35;
  background-color: rgba(200, 200, 200, 0.35);
  cursor: pointer;
}

div.initial_prompt p.help {
  text-align: center;
}

div.initial_prompt p.close {
  text-align: right;
  font-style: italic;
}

div.slidy_toc {
  position: absolute;
  z-index: 300;
  width: 60%;
  max-width: 30em;
  height: 30em;
  overflow: auto;
  top: auto;
  right: auto;
  left: 4em;
  bottom: 4em;
  padding: 1em;
  background: #f0f0f0;
  border-style: solid;
  border-width: 2px;
  font-size: 60%;
}

div.slidy_toc .toc_heading {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-color: #b4b4b4;
  border-bottom-width: 1px;
}

div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
}

div.background {
  display: none;
}

div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
}

div.slide h1 {
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block;
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
}

@media screen and (max-device-width: 1024px) {
  div.slide {
    font-size: 100%;
  }
}
@media screen and (max-device-width: 800px) {
  div.slide {
    font-size: 200%;
  }

  div.slidy_toc {
    top: 1em;
    left: 1em;
    right: auto;
    width: 80%;
    font-size: 180%;
  }
}
div.toc-heading {
  width: 100%;
  border-bottom: solid 1px #b4b4b4;
  margin-bottom: 1em;
  text-align: center;
}

img {
  image-rendering: optimize-quality;
}

pre {
  font-size: 80%;
  font-weight: bold;
  line-height: 120%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-left-width: 1em;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-color: #95ABD0;
  color: #00428C;
  background-color: #E4E5E7;
}

li pre {
  margin-left: 0;
}

blockquote {
  font-style: italic;
}

img {
  background-color: transparent;
}

p.copyright {
  font-size: smaller;
}

.center {
  text-align: center;
}

.footnote {
  font-size: smaller;
  margin-left: 2em;
}

a img {
  border-width: 0;
  border-style: none;
}

a:visited {
  color: navy;
}

a:link {
  color: navy;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.toolbar a:link {
  color: blue;
}

.toolbar a:visited {
  color: blue;
}

.toolbar a:active {
  color: red;
}

.toolbar a:hover {
  color: red;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: circle;
}

ul ul ul ul {
  list-style-type: disc;
}

li {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

li li {
  font-size: 85%;
  font-style: italic;
}

li li li {
  font-size: 85%;
  font-style: normal;
}

div dt {
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

div dd {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

p, pre, ul, ol, blockquote, h2, h3, h4, h5, h6, dl, table {
  margin-left: 1em;
  margin-right: 1em;
}

p.subhead {
  font-weight: bold;
  margin-top: 2em;
}

.smaller {
  font-size: smaller;
}

.bigger {
  font-size: 130%;
}

td, th {
  padding: 0.2em;
}

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: circle;
}

ul ul ul ul {
  list-style-type: disc;
}

ul li {
  list-style: disc;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 0;
  line-height: 140%;
}

ol li {
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
  list-style-type: decimal;
}

li ul li {
  font-size: 85%;
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

li li ul li {
  font-size: 85%;
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}

li li li ul li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

li ol li {
  list-style-type: decimal;
}

li li ol li {
  list-style-type: decimal;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/
ol.outline li:hover {
  cursor: pointer;
}

ol.outline li.nofold:hover {
  cursor: default;
}

ul.outline li:hover {
  cursor: pointer;
}

ul.outline li.nofold:hover {
  cursor: default;
}

ol.outline {
  list-style: decimal;
}

ol.outline ol {
  list-style-type: lower-alpha;
}

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}

ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}

ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}

ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}

ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/nofold-dim.gif) no-repeat 0px 0.5em;
}

ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold-dim.gif) no-repeat 0px 0.5em;
}

ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold-dim.gif) no-repeat 0px 0.5em;
}

ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/fold.gif) no-repeat 0px 0.5em;
}

ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(../graphics/unfold.gif) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
a.titleslide {
  font-weight: bold;
  font-style: italic;
}

/*
 hide images for work around for save as bug
 where browsers fail to save images used by CSS
*/
img.hidden {
  display: none;
  visibility: hidden;
}

div.initial_prompt {
  display: none;
  visibility: hidden;
}

div.slide {
  visibility: visible;
  position: inherit;
}

div.handout {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: black;
}

@media screen {
  .hidden {
    display: none;
    visibility: visible;
  }

  div.slide.hidden {
    display: block;
    visibility: visible;
  }

  div.handout.hidden {
    display: block;
    visibility: visible;
  }

  div.background {
    display: none;
    visibility: hidden;
  }

  body.single_slide div.initial_prompt {
    display: block;
    visibility: visible;
  }

  body.single_slide div.background {
    display: block;
    visibility: visible;
  }

  body.single_slide div.background.hidden {
    display: none;
    visibility: hidden;
  }

  body.single_slide .invisible {
    visibility: hidden;
  }

  body.single_slide .hidden {
    display: none;
    visibility: hidden;
  }

  body.single_slide div.slide {
    position: absolute;
  }

  body.single_slide div.handout {
    display: none;
    visibility: hidden;
  }
}
@media print {
  .hidden {
    display: block;
    visibility: visible;
  }

  div.slide pre {
    font-size: 60%;
    padding-left: 0.5em;
  }

  div.toolbar {
    display: none;
    visibility: hidden;
  }

  div.slidy_toc {
    display: none;
    visibility: hidden;
  }

  div.background {
    display: none;
    visibility: hidden;
  }

  div.slide {
    page-break-before: always;
  }

  /* :first-child isn't reliable for print media */
  div.slide.first-slide {
    page-break-before: avoid;
  }
}
