small{
  font-size: 70%;
  font-family: monospace;
  line-height: 70%;
}
section#content {
  img {
    width: 100%;
    margin-bottom: 8px;
  }
  p{
    font-size: 17px;
    padding-bottom: $para*2;
    @include respond-to($c-vp){
      width: 60%;
    }
  }
  a {
    color: $al-green;
  }
  sup{
    font-size: 12px;
    vertical-align: super;
    line-height: normal;
  }
  iframe {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 400px;
    @include respond-to($f-vp){
      width: 140% !important;
      margin-left: -20%;
      height: 700px;
    };
  }
  h1 {
    font-size: 32px;
    font-family: "belgika_8th8th";
    margin-bottom: $para/2;
  }
  h2.entry-title, h1.page-title{
    font-size: 16px;
    font-family: "hk_groteskregular";
    margin-bottom: $para;
    margin-top: $para*4;
    color: $al-green;
  }
  h2 {
    font-size: 24px;
    font-family: "belgika_40th40th";
    margin-top: 16px !important;
  }
  h3{
    font-size: 20px;
    font-family: "belgika_8th8th";
  }
  blockquote{
    width: 100%;
    padding-left: 30%;
    margin-bottom: $para*3;
    font-family: "hk_groteskbold";
    font-size: 20px;
    //text-align: right;
    float: right;
    clear: both;
  }
  li.homepage-li{
    overflow: hidden;
    border-bottom: 1px dotted $al-green;
    padding-bottom: $para;
    padding-top: $para;
    width: 100%;
    height: auto;
    @include respond-to($c-vp){
      min-height: 42px;
      padding-bottom: $para/2;
      //margin-top: $para;
    };
    }
  ul{
    width:100%;
    float: left;
    margin-top: $para/2;
  }
}
ol.simple-footnotes{
  border-top: 1px dashed grey;
  padding-top: $para;
  list-style-type: decimal;
}

div.highlight{
  background-color: lightgrey;
  padding: $para;
  pre{
    font-family: monospace;
  }
}
