<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		    <meta name="viewport" content="initial-scale=1">
          <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/adverse.png"/>
          <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
          <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
          <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>
          <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/responsive-nav.js"></script>
          <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>
          <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}


      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(["setCookieDomain", "*.adversarial.interfaces.site"]);
        _paq.push(["setDomains", ["*.adversarial.interfaces.site"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//consultone.eu/piwik/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '5']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//consultone.eu/piwik/piwik.php?idsite=5&rec=1" style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->


</head>

<body id="index" class="home">
  {% block alt %}
  {% endblock alt %}
  {% block nav %}
  <div class="row-parent">
    <div class="row">
      <div class="colspan12-1 logo">
        <a href="{{ SITEURL }}/"><span id="outside">☍</span></a>
      </div>
      <div class="navrow colspan12-12">
    <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            <h2>{{ SITESUBTITLE }}</h2>
            <div class="sticky">
            <a href="{{ SITEURL }}/"><span id="opposite">☍</span></a>
            </div>
    </header><!-- /#banner -->
            <nav class="nav-collapse"><ul>
            {% if DISPLAY_PAGES_ON_MENU -%}
            {% for pg in PAGES %}
                <li{% if pg == page %} class="active"{% endif %}><a id="{{ pg.title }}" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
            {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% endif %}
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            </ul></nav>
            {% endblock nav %}
            <div id="secondaryintro" class="hidden">
              <div class="row">
              <div class="colspan12-3 colspan6-6 as-grid">
                <p>Adversarial interfaces is a critical analysis the rhetoric of certain user interfaces. With this analysis and critique the project proposes ways (see menu items) by which to practically and discursively adapt our understandings of computer and network infrastructures in the aim of resisting <i>seamless</i> integrations of software and interfaces as totalitised spaces with no alternatives and no outsides.</p>
              </div>
              <div class="colspan12-3 colspan6-6 as-grid with-gutters">
                <p>The title of this site and project appends the idea of Adversarial Design to interfaces. At its core this project exists as an expression of a need for agonism in the field of user interface design.</p>
                </div>
              <div class="colspan12-5 colspan6-6 as-grid with-gutters">
                <p class="definition"><b>Adversarial design</b>: (Carl DiSalvo) a type of political design that evokes and engages political issues. Adversarial Design does the work in expressing and enabling agonism.</p>
                <p class="definition"><b>Agonism</b>: (Chantal Mouffe) a political theory that emphasises the potentially positive aspects of certain forms of political conflic.</p>
                <p class="definition"><b>Seamless interface:</b> two (or more) computer programs that are carefully joined together so that they appear to be a single program with a single user interface. A seamless interface will conceal the fact that it is created from two or more different programs.</p>
                <p class="definition"><b>the internet: </b> <a href="https://criticalengineering.org/">(Critical Engineers)</a> a deeply misunderstood set of technologies upon which we increasingly depend.</p>
              </div>
            </div>
            <div class="row">
              <div class="colspan12-6 colspan6-6 as-grid">
              <p><b>Adversarial interfaces</b> is research in progress. This sites first itteration exists to mark a point at the finalisation of a masters degree in media design and communication by <a href="http://colm.be">Colm O'Neill</a>.</p>
              <a href="http://adversarial.interfaces.site/pages/introduction.html"><button class="in-about">introduction script for more context / details</button></a>
              </div>
              <div class="colspan12-6 colspan6-6 as-grid with-gutters">
              <p>To visually support the idea of agonism and adversivity, the <a href="https://en.wikipedia.org/wiki/Astrological_symbols#Aspects">astrological aspect symbol for oppostion</a> is employed. <b>☍</b> is described as “The glyph of the Conjunction plus a circle on top of its line, implying two objects are in front (opposed) of each other.” Detailing placings of 180° opposition.</p>
              </div>
            </div>
            <div class="row">
              <div class="colspan12-5 push12-6 colspan6-6 as-grid with-gutters">
              <small class="definition">Site generated by <a href="https://blog.getpelican.com/">Pelican</a>, sources located at <a href="https://git.xpub.nl/colm.adversarial.interfaces.site/log.html">git.xpub.nl</a> and <a href="https://gitlab.com/colmoneill/adversarial.interfaces.site">gitlab.com</a>, fonts in use are <a href="http://osp.kitchen/foundry/belgica-belgika/">Belgica-Belgika</a> (OFL 1.1) and <a href="https://fontlibrary.org/en/font/hk-grotesk">HK Grotesk</a> (OFL), licence for the content is <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>. If any otherwise copyrighted content found it's way here, please get in touch, I will remove it ASAP.</small>
              </div>
              <div class="colspan12-5 push12-6 colspan6-6 as-grid with-gutters">
              <small class="definition feed"><a href="http://adversarial.interfaces.site/feeds/all.atom.xml">feed</a></small>
              </div>
            </div>
      </div>
    </div>
    </div>
    <div class="seperation-rule"></div>
    <div class="row-parent">
      <div class="row">
          <section id="content">
          {% block content %}
          {% endblock %}
          </section>

          <br><br>
        </div>
      </div>
          {% block footer %}
          <footer id="main-footer">
            Adversarial interfaces is a research project by Colm O'Neill, for any enquiries, suggestions or contact, write to <a href="mailto:mail@colm.be">mail@colm.be</a>.
          </footer>
          {% endblock footer %}
      <script>
        var navigation = responsiveNav(".nav-collapse", {
          animate: true,                    // Boolean: Use CSS3 transitions, true or false
          transition: 284,                  // Integer: Speed of the transition, in milliseconds
          label: "",                    // String: Label for the navigation toggle
          insert: "after",                  // String: Insert the toggle before or after the navigation
          customToggle: "",                 // Selector: Specify the ID of a custom toggle
          closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
          openPos: "relative",              // String: Position of the opened nav, relative or static
          navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
          navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
          jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
          init: function(){},               // Function: Init callback
          open: function(){},               // Function: Open callback
          close: function(){}               // Function: Close callback
        });
      </script>
</body>
</html>
