
<div class="colspan12-6 as-grid">
<section>The objects listed below are the core of this site. They come as answers to what adversarial interfaces could be. The projects that are gathered here qualify because they use the language of user interfaces against what I believe are misleading practices.</section>

<section>It is the goal of this project to critically analyse user interface design practices of seamlessness interfaces, deep integration, and informal modes of address. In order to respond and propose alternatives to these practices, this list concentrates on bringing together projects that, through various strategies, change the paradigms on which misleading interface practices rely.</section>

<section>Some projects take user interface elements out of context, others display metrics that are usually kept invisible. The point of this list is not to provide functional objects but rather to gather subjects as looking glasses. Each item is a specific subject taken apart, and exposed unconventionally, though artistic aproaches, by changing user browser schematics or by providing guides and how to texts.</section>

<section>This is not a gallery of interface glitches, it's not a gallery of any tactical media or hacktivism object although on their own they could be labelled as so. This is a list of adversarial interfaces that stand in some opposition to interface practices that hide politics.</section>
</div>

<div class="colspan12-6 as-grid">
<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/adversarial-interfaces-obj.svg">
</div>
<hr>
<h2>Articles in the {{category}} category:</h2>
<hr>
