{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>All articles</h2>
{% endblock %}
  <div class="row-parent column-titles">
    <div class="colspan12-2 as-grid">
      category
    </div>
    <div class="colspan12-5 as-grid">
      title
    </div>
    <div class="colspan12-2 as-grid">
      date
    </div>
    <div class="colspan12-3 as-grid">
      tags
    </div>
  </div>
<ul>
{% for article in articles_page.object_list %}
<div class="list">
  <a href="{{ SITEURL }}/{{ category.slug }}/{{ article.slug }}.html">
    <li class="homepage-li">
      <div class="row-parent">
        <div class="colspan12-2 as-grid">
          {{article.category}}
        </div>
        <div class="colspan12-5 as-grid">
          {{article.title}}
        </div>
        <div class="colspan12-2 as-grid">
          {{ article.date|strftime('%B %Y') }}
        </div>
        <div class="colspan12-3 as-grid">
          {% if article.writing == 'draft' %}
            draft status
          {% else %}
            {% if article.tags %}
              {% for tag in article.tags %}
                <a href="{{ SITEURL }}/tag/{{tag.slug}}">{{tag}}</a> |
              {% endfor %}
            {% else %}
                not tagged
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="separation-rule"></div>
    </li>
  </a>
</div>
{% endfor %}
</ul>
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
