{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}
<div class="">
  <div class="row-parent column-titles">
    <div class="colspan12-2 colspan6-1 as-grid">
      category
    </div>
    <div class="colspan12-5 colspan6-2 as-grid">
      title
    </div>
    <div class="colspan12-2 colspan6-1 as-grid">
      date
    </div>
    <div class="colspan12-3 colspan6-2 as-grid">
      status / tags
    </div>
  </div>
  <ul>
  {% for article in articles_page.object_list %}
  <div class="row-parent">
      <li class="homepage-li">
      <a href="{{article.url}}">
            <div class="colspan12-2 colspan6-1 as-grid">
              {{article.category}}
            </div>
            <div class="colspan12-5 colspan6-2 as-grid">
              {{article.title}}
            </div>
            <div class="colspan12-2 colspan6-1 as-grid">
              {{ article.date|strftime('%B %Y') }}
            </div>
            <div class="colspan12-3 colspan6-2 as-grid">
              {% if article.writing == 'draft' %}
                draft status
              {% else %}
                {% if article.tags %}
                  {% for tag in article.tags %}
                    <a href="{{tag.url}}">{{tag}}</a> |
                  {% endfor %}
                {% else %}
                    not tagged
                {% endif %}
              {% endif %}
              <!-- {% if article.tags %} -->
                <!-- {% for tag in article.tags %} -->
                 <!-- tag <a class="tag" href={{tag.url}}>{{article.tag}}</a> -->
                <!-- {% endfor %} -->
              <!-- {% else %} -->
              <!-- <span>☍</span> -->
              <!-- {%endif%} -->
            </div>
        </li>
      </a>
    </div>
  {% endfor %}
</ul>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</div>
</div>
</section><!-- /#content -->
{% endblock content %}
