{% extends "base.html" %}
{% block head %}
<!-- <link rel="stylesheet" type="text/css" media="screen, projection, print" href="http://www.w3.org/Talks/Tools/Slidy2/styles/slidy.css" /> -->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/slidy.js"
 charset="utf-8" type="text/javascript"></script>
 <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
 <meta charset="utf-8" />
 <style>
 p, li{
   font-family: hk_groteskregular;
 }
 li{
   list-style-type: circle;
 }
 ul{
   list-style-type: circle;
 }
 div.slide h1{
   font-size: 42px !important;
 }
 div.slide p{
   font-size: 20px !important;
 }
 div.toolbar{
   display: none !important;
 }
 img.vertical{
   width: auto !important;
 }
 strong {
   font-weight: normal;
   font-style: italic;
   color: red;
 }
</style>
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
    {{ article.content }}
{% endblock %}
{% block footer %}
{% endblock %}
