{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    <h1>All tags</h1>
    {%- for tag, articles in tags|sort %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})<br>
    {% endfor %}
{% endblock %}
