<style>
@media print { 
html{
font-family: sans-serif;
}
p{
font-size:40px;
}
h1{
font-size:50px;
}
}
</style>
<p>Title: Adversarial Interfaces project presentation<br />
Date: 2017/06/15<br />
Status: draft</p>
<h1 id="adversarial-interfaces">adversarial interfaces</h1>
<h2 id="user-interfaces-rhetoric-reveal-its-politics">user interfaces rhetoric reveal its politics</h2>
<h3 id="httpadversarial.interfaces.site"><a href="http://adversarial.interfaces.site" class="uri">http://adversarial.interfaces.site</a></h3>
<p>Hi, My name is Colm O'Neill, I am a graphic designer and researcher from Brussels, and I'm here today to speak about my most recent research project called adversarial interfaces.</p>
<hr />
<p>The <strong>observation of a phenomenon</strong> of a change in the tone of some user interfaces.<br />
The change is towards some kind of informality.<br />
I've been calling this phenomenon informal modes of address in user interfaces.</p>
<p>What I mean by informal modes of address is <strong>the affordance</strong> that some types of user interfaces seem to have given themselves <strong>to speak to their visitors and users in extremely informal manors</strong>.</p>
<p>This is not exactly a widespread phenomenon but it's more embedded than one might think.<br />
Informal modes of address seem first of all to be **concentrated to network dealt user interfaces.</p>
<p>To the internet.** But not across all types of websites, <strong>mainly across social media websites, platform centered, community based, interactive services</strong>.</p>
<hr />
<p>Here are some examples of what I mean:</p>
<h3 id="digital-ocean-awesome-popup">digital ocean awesome popup <img src="../images/grad-pres/digitalocean-awesome.png" /></h3>
<p>this example of informal address comes to us from DigitalOcean a web hosting sevice that recently showed me this popup after logging in.</p>
<p>My concern is with the <strong>only exit</strong> that this message offers.</p>
<p>Now, I <strong>rarely use the word Awesome</strong> in any case, but the fact that I am forced to signify that I have seen this message <strong>by effectively saying Awesome,</strong> feels very unnatural and very forced for me.</p>
<p><strong>I actually don't really care for this new product,</strong> and even in I did, my response would not be 'Awesome', It's simply not a language that I use very often. This makes me feel very uneasy as to why I am using digital ocean in the first place, if their practice is to put words into my mouth.</p>
<hr />
<h3 id="tumblr-cards-img">TUMBLR Cards img <img src="../images/grad-pres/nothardtoexplain-crop.png" /></h3>
<p>My second example of informal address in user interfaces comes from Tumblr.com:</p>
<p>This is <strong>a slide</strong><br />
One of the first cards read something along the lines of: <strong>Tumblr is so easy to use, that it's actually hard to explain.</strong></p>
<p>On reading this message, <strong>I hightened my attention</strong> and I read the next slides attentively, to finally arrive at this final slide which reads:</p>
<p><strong>Ok, it's not actually hard to explain, we lied, but now you know how this thing works, so come on in.</strong></p>
<p>So. I have <strong>many questions and issues here</strong>.<br />
First of which is **what was the actual necessity of telling me something was complex, if it was not.<br />
Secondly, I wonder why the site would use such a method to present itself to potential new users.</p>
<p>No doubt, there are <strong>maketing strategies</strong> at play here, most of which are far <strong>beyond my interest and comprehention,</strong> but <strong>the language</strong> that is employed here, <strong>who does it serve exactly?</strong> Why was it decided that the best way to explain a product was by making up an undoing a lie.</p>
<p>I'm <strong>not concerned</strong> by the fact that the site is or isn't <strong>lying to me</strong> with this language, I'm concerned about <strong>who they think their reader is when writing such text</strong>?</p>
<p>I certanly <strong>fit into the demographic of possible tumblr users</strong>, in fact I was one for several years, but this mode of address <strong>portrays a lifestyle and a type of humor</strong> that I simply don't identify with, and while that might not be important at all for tumblr, <strong>they are consistent with this type of language across their product</strong>. Informalities that have no source. <strong>Informalities that resemble a dialog</strong> in which I know who is on my end, but I have no idea who is actually talking to me.</p>
<hr />
<h3 id="wired-ad-block">WIRED ad block <img src="../images/wired-the-thing-with-ad-blockers.png" /></h3>
<p>This example is a type of a <strong>paywall</strong>, an <strong>ad blocker blocker</strong> that appears on Wired.com. Once again, it's not exactly the content of the message I'm interested in here, but the shape of it. This is obviously an ethical issue, pointed out by Wired. They have gone so far as to <strong>implement a method</strong> by which their site can detect if a visitor is using an ad blocker on their browser.</p>
<p>When Wired.com detects that a visitor is indeed using an ad blocker, it waits until the first two or three paragraphs have been scrolled past and it says;</p>
<p><strong>“Here's The Thing With Ad Blockers. We get it: Ads are not what you are here for. But ads help us keep the lights on.”</strong></p>
<p>I find this message to be very strange. It is probably the most patronising example I have come across in this research.</p>
<p>Reacting to a users decision to block ads by speaking directly to me by saying, <strong>hey, we get it, our system sucks, but you know, you've got to play along, or we're going to block this content.</strong></p>
<p>This is Wired.com that we're talking about, one of the biggest tech news vendors their is.<br />
It's owned by <strong>Condé Nast</strong>, which has been in the publication buisness for more than a century. And their argument is that <strong>they are having trouble keeping lights on?</strong></p>
<p>Most importantly though is <strong>the tone that is employed here</strong>. So it is wired's decision to use this paywall. Well that's fine, but <strong>why couldn't the message speak to this directly</strong>?</p>
<p>I don't agree with this decision, but why could the message not have been: <strong>“ad block detected: we are a publication company that relies on ads for income. This message blocks the content unless you do such or such thing”?</strong></p>
<p>No this message speaks to me in a <strong>chummy, friendly, informal</strong> way, saying, hey, you know, we're on your side we don't like ads either, but despite that, you're going to comply to our way of doing, because we'd rather have you not read, than not be able to put ads on your page.</p>
<p>The shape of this message is very <strong>contradictory</strong>. Using informal language to <strong>signify a dead end</strong>.</p>
<p>What is the use of creating this false sense of connection here?</p>
<p>Who is actually saying this to me? Is it the <strong>author</strong> of the article? Is it the <strong>editor</strong> in chief? Is it the <strong>holding company</strong>? I don't know any of these people, yet they seem to be very familiar with me, how is that?</p>
<hr />
<h3 id="twitter-sounds-good-img">Twitter sounds good img</h3>
<p><img src="../images/twitter-sounds-good/Screenshot_from_2017-05-18_11-52-15.png" /></p>
<p><img src="../images/twitter-sounds-good/twitter-sounds-good.gif" /></p>
<p>The last example I would like to show is a popup that appeared on one of my recent logins to twitter, which informed me about a change in their privacy policy. Aside from my feelings about this change, and the need for privacy policies in this context, I'm bothered by the <strong>main exit</strong> that this popup proposes.</p>
<p>It says: <strong>Sounds good</strong>. To be honest with you, I do not think <strong>this change in policy sounds good at all</strong>, and I'm very annoyed by the fact that Twitter would first of all <strong>believe that my response would be that that this sounds good</strong>, and secondly, the fact the the way the buttons on this popup have <strong>visually strongly suggest that I should click</strong> 'Sounds good' as opposed to the review link underneath.</p>
<p>This is a contract</p>
<h3 id="section"></h3>
<p>These examples are just a few of many that I have collected across the sites I visit and the products I use.</p>
<p>Enough examples of this informal address and informality through interfaces existed for me to start wondering more broadly what the function of informal modes of address in un-mappable conversations would be.</p>
<hr />
<p>Of the handful of papers I read that spoke of this mostly indirectly, The mismanaged heart, an article on Real Life Magazine, written by William Davies, had the most compelling reasonings.</p>
<p><img src="../images/real-life-mag-mismanaged-heart.png" /></p>
<p>Davies also questionned this informality. He proposes an association with <strong>sociological studies</strong> what is referred to as <strong>'the informal ettiquette of silicon valley'</strong>. Basically, looking at how the workplace is quite different in the new tech industry, how dresscodes are casual, working hours are flexible, and how campuses are developped, not offices.</p>
<p>To cut to the chase, it is believed that he function of the informal ettiquette in the tech world exists as a strategy that <strong>erodes the boundary</strong> between work life and leisure.</p>
<p>If these two get confused, and your company is able to provide leisure in the work environment, worker <strong>'efficiency' statistics</strong> seem to say that the result is employees spend more time doing actual work.</p>
<p>So it's believed that <strong>informality in interfaces serves a similar function</strong>.</p>
<p>except the <strong>value is different</strong></p>
<p>Value is data</p>
<p><img src="../images/surveillance-capture.png" /></p>
<p>Before diving in: I think it's important to think <strong>not of surveillance, but capture</strong>. Capture is a much more appropriate word to describe the situation here. Also etymologically, it's better suited.</p>
<p>a notion developped by Davies in his article, that he calls <strong>'rhetorical turn'</strong>. The rhetorical turn takes the shape of a <strong>subtle change in language</strong> for example where sign up forms might have asked you for your full legal address, they now ask you locate somewhere as 'home'. The form might have previously asked you for your date of birth, it now could ask you to select a date to 'celebrate your birthday'.</p>
<p>So informality is used in interfaces to somewhat <strong>bypass our defence mechanisms</strong> when it comes to giving away information about ourselves.</p>
<p>But the informality is presented as a <strong>form of care</strong>: the <strong>creation of conviviality</strong>, and a sense of products sayin that they care about users.</p>
<p>The is a <strong>real irony</strong> here in being dished informal messages, but being acutely aware that these platforms view <strong>their potential market as the entire human race</strong>.</p>
<p>I think the rhetorical turn is a good way to think about what is happening to the languages of the internet, but this idea of <strong>adminstration of care</strong> is also quite key:</p>
<p>** Facebook gender **</p>
<p><img src="../images/grad-pres/facebook.gif" /></p>
<p>Details of what is happening in facebook gender example</p>
<hr />
<p>There is a lot at play here according to me. This phenomenon is one of many that <strong>create fake senses of how the internet and it's technologies work</strong>.</p>
<p>Which reminds me of <strong>other fields I have researched</strong>: practices that have gone bad and turned on us</p>
<p>From the field of <strong>user interface design</strong>, it's very common to come across discussions of ideas of <strong>seamless design</strong> and <strong>integration</strong>, best examplified by a motto of a computer giant that likes to say; <strong>It just works.</strong></p>
<h3 id="text-slide-seamless-definition">TEXT SLIDE: Seamless definition</h3>
<p>You see, it's the belief of user interface designers that a <strong>good interface lets you accomplish tasks without having to </strong>worry about the backgrounds of the program**.</p>
<p>To a certain extent, <strong>that is very true</strong>, and the reasons we use interfaces is to not have to dig into lines of code and other hard to use interfaces.</p>
<p>But the idea of seamlessness wants to <strong>bridge between programs, between technologies</strong>, and it believes it's doing this <strong>with the best interest of the user at heart</strong>, but I believe that <strong>this idea has gone way too far</strong>.</p>
<p>I think that as the internet, it's devices and it's politics creep into our lives, there must be ways in which we can see the <strong>componentry</strong> of this network.</p>
<p>and <strong>Seamless design is the exact opposite of that</strong>. In fact, the field of user interface design now thinks in terms of <strong>experience design</strong> and <strong>interaction design</strong>, as ways of better (according to them) engaging with the sevice or product that is being interfaced.</p>
<p>I develop more on these ideas of the problematics of seamlessness in my thesis called Tangible tools,</p>
<p><img src="../images/tangible.tools.screen.png" /></p>
<p>So as <strong>seamless interface design</strong> and <strong>deep integration</strong> <strong>join</strong> <strong>informal modes of address</strong> in the list of practices that obfuscate, I really feel a <strong>deep concern</strong> about where this could all go. I feel a <strong>political and ethical concern</strong> about where these practices and where the workings of the sites that we visit are <strong>bringing us to</strong>.</p>
<p>Because we're <strong>no longer presented</strong> with the cases of <strong>interfaces that are parametric dialogs</strong> that allow actions, like can be the case in desktop software, online, we're presented with <strong>set narratives</strong> that take the visual languages of user interfaces to get us to do things in the <strong>websites timeline, not ours.</strong></p>
<hr />
<p>To drive this nail, I'll now take a quote from Eric Schmidt, the ex-CEO and chairman of Google, when asked about the future of the internet at the world economics forum in 2015, he simply answered that: <strong>The internet will dissapear.</strong></p>
<p><img src="../images/internet-will-disappear.png" /></p>
<p>Of course, he does not mean that it will actually stop existing, he means that it will become invisible. The rest of the quote goes as so:</p>
<p>“There will be so many IP addresses … so many devices, sensors, things that you are wearing, things that you are interacting with that you won’t even sense it. It will be part of your presence all the time. [...] ”</p>
<p>He's referring here to what we commonly call <strong>'the internet of things'</strong>. But <strong>in this logic</strong>, in the logic of so much and so many <strong>connected things</strong>, that they become part of us at all times, as well as all sorts of logics that confuse our understandings of the internet, <strong>we enter a very dangerous logic of totality</strong>.</p>
<p>Totality is a notion often used to <strong>define capitalism.</strong> A structure that has <strong>no considerable outside</strong>. If we are to consider the direction that Schmidt seems to be pointing to, the internet as <strong>an absolute</strong>, with no outside, no alternatives.</p>
<p><img src="../images/JK-Gibson-Graham.jpg" /></p>
<p>this a negative outlook, a pessimistic one, but it <strong>really is the way I feel</strong> about the possible reach of the practices that were enumerated above.</p>
<p>Seamless interfaces help enormously in the <strong>dissapearence of the structures</strong> of the internet. So do ideas of deep integration. And as for informal modes of address, well, they are <strong>the facade</strong>.</p>
<p>Before I go any further, I wish to say that I don't believe that there is <strong>a group of evil doers</strong> that purpousfully are working to dis-educate us in order to better harvest data, or construct this totality, I think that the situation we're currently in, is the result of practices being established in <strong>small instances, and them borrowing off of each other</strong>.</p>
<hr />
<p>So here is the task I present; to critically analyse the rhetoric portrayals that interfaces give way to. By this analysis, to practically and discursively review our understandings of computer and network infrastructures by using critical methods to counter act seamless integration of our networked spaces and to counter act any methodology that might result in the internet being understood as a totalised space.</p>
<p>To achieve this task, I present this very platform. A space for resisting seamlessness by gathering various intellectual and practical objects with which we can respond to the moralities that internet platforms and their interfaces force onto us.</p>
<h3 id="adversarial-interfaces-site">adversarial interfaces site <img src="../images/adversarial-interfaces-site.png" /></h3>
<p>I get the word adversarial from Carl Disalvo. He wrote a book called adversarial design in 2012.</p>
<p>What Disalvo spoke about in that book in which adversarialism is pointed out as a way of acknowledging the political aspects of the technologies that surround us. Adversarialism qualifying types of designed objects is defined as projects doing the work of Agonism. Agonism itself is a political theory that emphasises the potentially positive aspects of certain forms of political conflict.</p>
<h3 id="text-slide-adversarial-design-agonism-chantal-mouffe">Text Slide: Adversarial Design, Agonism, Chantal Mouffe</h3>
<p>So I borrowed the word adversarial, and I stuck it against the word interface and I started to wonder what adversarial (user) interfaces might be? Are there interfaces that embody political stances, and are there interfaces that do the work of agonism?</p>
<p>Except adversarial design isn't easily transposed to interfaces, interfaces don't exist as stand alone autonomous objects</p>
<p>clickbait-stopper</p>
<p>Other are my own making: for example, the scollometer lives in your browser to look and collect how much you scroll on different pages that you visit. It then converts that number into centimeters and meters so that you can post your scrolling activity to runkeeper or strava.</p>
<p>In conclusion: I began with the case study of informal interfaces because I think that the method is one step too far. Because as sneaky and tricky as other methods can be, I think the rhetoric of user interfaces reveals it's politics. And while we may or may not be able to analyse the backend code of projects like these, we are all able to make decisions as to how we feel when systems address us personally. Taking on a dialogic method of cloaking as the examples we reviewed have, creates subjectivation</p>
<p>→</p>
